.bbi-home-features {

	.row {

		@include responsive(sm) {
			display: flex;
		}

	}

	.bbi-single-feature {
		margin-bottom: 15px;

		&:last-of-type {
			margin-bottom: 0;
		}

		@include responsive(md) {
			margin-bottom: 0;
		}

		.bbi-feature-wrap {
			border: {
				width: 1px;
				style: solid;
				color: $clr-brand;
			}
		}

		.feature-image {
			position: relative;

			.media-wrap {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
			}
		}

		.feature-info {
			padding: 25px;

			h4 {
				text-transform: none;
				margin-bottom: 18px;
			}

			p {
				color: $clr-text;
			}

			.btn.primary-btn {
				margin-top: 20px;
			}
		}
	}
}